:root {
    --font-medium: 'Poppins', sans-serif;
    --dark-blue: #3E7CB1;
    --dark-dark-blue: #08333F;
    --light-blue: #c4dcf0;
    --light-blue-darker: #629390;
    --bright-orange: #FF5E5B;
    --white: #ffffff;
    --off-white: #fafafa;
    --black: #000000;
    --small-font: 0.7rem;
}

html {
    font-family: var(--font-medium);
    font-size: 20px;
    background: var(--off-white);
    color: var(--white)
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    position: relative;
}

header {
    align-content: flex-start;
    background-color: var(--off-white);
    color: var(--dark-dark-blue);
    display: flex;
    justify-content: center;
    height: 6rem;
    margin-bottom: 1rem;
    width: 100vw;
}

header>h1 {
    margin: 1.5rem;
}

small {
    font-size: var(--small-font);
}

.root {
    align-items: center;
    background-color: var(--off-white);
    display: grid;
    justify-content: center;
    width: 100vw;
}

.gameboard-container {
    background-color: var(--dark-blue);
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#gameboard {
    background-color: var(--off-white);
    border-radius: 16px;
    box-sizing: border-box;
    color: var(--dark-dark-blue);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vw;
    padding: 32px;
    width: 100vw;
}

.game-tile {
    align-items: center;
    display: grid;
    font-size: 2.5rem;
    height: 100%;
    justify-content: center;
    line-height: 0;
    margin: 0;
    transition-duration: .3s;
}

.game-tile:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition-duration: .3s;
}

.game-end-tile {
    align-items: center;
    display: grid;
    height: 100%;
    font-size: 2.5rem;
    justify-content: center;
    line-height: 0;
    margin: 0;
    transition-duration: .3s;
}

.transparent {
    opacity: 0;
}


/* border stuff */

#gameboard>p:nth-child(n+1):nth-child(-n+6) {
    border-bottom: 2px solid var(--dark-dark-blue);
}

#gameboard>p:nth-child(3n-2),
#gameboard>p:nth-child(3n-1) {
    border-right: 2px solid var(--dark-dark-blue);
}

footer {
    bottom: 0;
    color: var(--dark-dark-blue);
    display: relative;
    height: 2rem;
    margin-bottom: 1rem;
    width: 100vw;
}

footer>p {
    margin: 1rem;
    text-align: center;
}

footer>p>a {
    color: var(--dark-dark-blue);
}

.modal {
    align-items: center;
    display: grid;
    background-color: rgba(97, 114, 150, 0.5);
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.init-message {
    align-items: center;
    background-color: var(--off-white);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: var(--dark-dark-blue);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 32px;
}

button {
    border: none;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: var(--off-white);
    transition-duration: 0.3s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

button:active {
    transform: scale(1.02);
    transition-duration: 0.1s;
}


/* Buttons to choose between 2 player or vs computer */

.init-options-container>button {
    background-color: var(--dark-blue);
    margin-right: 16px;
    padding: 8px;
}

.init-options-container>button:hover {
    background-color: var(--dark-dark-blue);
}

.init-options-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 32px 0px 8px 0px;
}


/* Input error */

.input-error-wrapper {
    align-items: center;
    display: grid;
    height: 32px;
    justify-content: center;
    margin: 8px 0px;
}

#input-error {
    background-color: var(--bright-orange);
    border-radius: 16px;
    color: var(--off-white);
    padding: 8px 16px;
}


/* Two Player Form */

.two-player-options-form,
.one-player-options-form {
    align-items: center;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    margin: 16px 0px;
}

.two-player-options-form>input,
.one-player-options-form>input {
    border-radius: 8px;
    border: 2px solid var(--dark-dark-blue);
    height: 2rem;
    padding: 2px 8px;
    max-width: 240px;
}

.mark-input {
    text-align: center;
    width: 1.5rem;
}

.form-label {
    font-size: var(--font-medium);
}


/* Initial options submit */

.init-options-submit {
    border-radius: 8px;
    display: flex;
    justify-content: right;
    height: 2rem;
    margin: 16px;
    width: 372px;
}

.init-options-submit>button,
#new-round-button,
#round-end-new-game-button,
#round-end-same-game-button {
    background-color: var(--dark-blue);
}

.init-options-submit>button:hover,
#new-round-button:hover,
#round-end-new-game-button:hover,
#round-end-same-game-button:hover {
    background-color: var(--dark-dark-blue);
}

.end-button-container {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    margin: 16px;
    width: 372px;
}


/* End of the game, this stuff is submitted */

.end-message {
    align-items: center;
    background-color: var(--off-white);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: var(--dark-dark-blue);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 32px;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 600px) {
    .gameboard-container {
        padding: 16px;
    }
    #gameboard {
        border-radius: 16px;
        height: 300px;
        padding: 64px;
        width: 300px;
    }
}

@media only screen and (min-width: 800px) {
    #gameboard {
        border-radius: 16px;
        height: 420px;
        padding: 64px;
        width: 420px;
    }
}